<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid" ng-controller="ServerHeaderController as model">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/home">Form Maker</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right nav-pills">
                <li ng-class="{'active': $location.url().indexOf('register') != -1 }" ng-if="!model.loggedIn"><a ng-click="selectedTab = 'register'" href="#register">Register</a></li>
                <li ng-class="{'active': $location.url().indexOf('login') != -1}" ng-if="!model.loggedIn"><a ng-click="selectedTab = 'login'" href="#/login">Login</a></li>
                <li><a href="#/profile">{{model.displayName}}</a></li>
                <li ng-class="{'active': $location.url().indexOf('logout') != -1}" ng-if="model.loggedIn"><a ng-click="model.logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>